@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

#progress {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #f6f6f6;
}

#counter-display {
    font-weight: 600;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

body {
    background-color: #FDFDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #452c63;
}

.card {
    background-color: #f6f6f6;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#habits {
    background-color: #FDFDFF;
    padding: 15px;
}

#progress {
    background-color: palevioletred;
}

li {
    background-color: #f6f6f6;
    margin: 10px;
    padding: 15px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

#reset-button {
    border: .5px solid grey;
    padding: 5px;
}

