@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #FDFDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #546a7B;
}

.card {
    background-color: #C6C5B9;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}